extends layout
block content
  h3= title
  - if (ongoing)
		p You can embed this task with
      code <script type="text/javascript" src="http://andrewbraunstein.com:3000/#{id}/worker"></script>
    p #{pending_count} results pending.
  - else
    a.btn.btn-primary(href='/#{id}/results') Download results
  div.results
    strong Results
    - if (results_length != 0)
      table.table.table-bordered
        thead
          tr
            th Input
            th Result
        tbody
          each result, input in results
            tr
              td
                pre= input
              td
                pre= result
    - else
      p You don't have any results yet :(